.wrapper {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

@media (max-width: 980px) {
  .wrapper {
    max-width: 790px;
    padding: 0 10px;
  }
}

@media (max-width: 790px) {
  .wrapper {
    max-width: 590px;
  }
}
